{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
   Modifer un utilisateur - {{ parent() }}
{% endblock %}

{% block sruser_body %}

    <h2>Modifier votre compte</h2>

    {{ include("SRBlogBundle:User:form.html.twig") }}

    <ul class="actions fit">
        <li>
            <a href="{{ path('sr_user_delete', {'id': app.user.id}) }}" class="button fit">
                <i class="glyphicon glyphicon-edit"></i>
                Supprimer ce profil
            </a>
        </li>
    </ul>


{% endblock %}