{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
   Modifer un utilisateur - {{ parent() }}
{% endblock %}

{% block sruser_body %}

    <h2>Modifier votre compte</h2>

    {{ include("SRBlogBundle:User:form.html.twig") }}



{% endblock %}