{% extends "SRBlogBundle::layout.html.twig" %}

{% block title %}
   Modifer un article - {{ parent() }}
{% endblock %}

{% block srarticle_body %}

    <h2>Modifier un article</h2>

    {{ include("SRBlogBundle:Article:form.html.twig") }}

    <p>   Attention : cette article sera modifié directement
        sur la page d'accueil après validation du formulaire.
    </p>

    <ul class="actions fit">
    <li>
        <a href="{{ path('sr_article_delete', {'id': article.id}) }}" class="button fit">
            <i class="glyphicon glyphicon-edit"></i>
            Supprimer cet article
        </a>
    </li>
    </ul>

{% endblock %}