{% extends "SRBlogBundle::layout.html.twig" %}



{% block body %}

    <div class="panel panel-info well">
        <div class="panel-body">
           <p>
             Bienvenu sur cette plate forme de Blog créer par mes soins grâce au framework Symfony
           </p>
           <p>
              Ici tous les sujets peuvent être abordés dans le respect des règles que pronne l'anarchie!
           </p>
           <p>
               <strong>Ni Maîtres, Ni Dieu!!</strong>
           </p>
        </div>
    </div>

{% endblock %}