{% extends "SRBlogBundle::layout.html.twig" %}


{% block body %}

    <article class="post">
        <header>
            <div class="title">

                    <h2>Bienvenue sur mon Blog</h2>
                    <p>powered by Symfony</p>
                </div>
        </header>

        <a href="#" class="image featured"><img src="{{ asset('bundles/srblog/images/122.jpg') }}" alt="image d'une rue d'une ville américaine" /></a>
        <p>
                    <strong>Bonjour!</strong> Ce blog à pour but premier de présenter mon savoir-faire.
                </p>
        <p>Musicien en reconversion j'ai choisi de devenir developpeur back-end pour peut-être un jour (euh je dirais même sûrement)
                    developper une plateforme d'apprentissage de la musique <strong>gratuite</strong> et <strong>Open Source</strong> accessible à tous
                    et pour tous les types de vocations musicales...
                </p>
        <p>
                    Une sorte de <strong>Musique pour Tous</strong> en quelques sortes!!!
                </p>
        <p>
                   Cependant, ici il ne s'agit que d'un blog pour le moment, avec les règles et les fonctionnalités habituelles d'un blog communautaire.
                    Je tiens à noter qu'ici il s'agit de mon espace créer et donc ici, la loi c'est moi!!
                    Alors fachos, sexistes, racistes, haters, religieux... passez dûment votre chemin.
                </p>

        <p>
                    So <strong> Peace, Love & Rock n' Roll</strong>
                </p>
        <p> C'était le mot de moi même.</p>

    </article>



{% endblock %}
