<section id="sidebar" class="sidebar_layout" xmlns="http://www.w3.org/1999/html">
    <section>
<h2>Derniers articles</br> parus</h2>
            <ul class="posts">
                {% for article in listArticles %}
                <li>
                    <article>
                        <header>
                            <h3><a href="{{ path('sr_article_view', {'id': article.id}) }}">{{ article.title }}</a></h3>
                            <time class="published" >Le {{ article.date|date ('d,m,Y') }}</time>
                            <p>ecrit par:{{ article.user.username }}</p>

                        </header>
                    </article>
                </li>
                {% endfor %}
            </ul>

    </section>
</section>
