.fa-bars::before {
    content: "\f007";
}

/*.well .form-horizontal .date{*/
    /*display: none;*/
/*}*/

.btn-primary{
    background-color: #F4F4F4;
    border-color: #F4F4F4;
}
.btn-primary:hover{
    background-color: #F4F4F4;
    border-color: #F4F4F4;
    color: black;
}
.form-group .checkbox input{
    margin-right: 0em;
    opacity: 1;
    width:20px;
    height:20px;
}
.form-date-hidden
/*.form-group .control-label*/
{
    display: none;
}
